@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Fitness Club</h1>
    <h3> Please Login</h3>
    <input type="button" value="Login"
           onclick="window.location='@Url.Action("LogInPage", "Home")'" />
    <input type="button" value="Logout"
           onclick="window.location='@Url.Action("LogOutPage", "Home")'" />

    <div>
        <h3>Create an account</h3>
        <input type="button" value="Add User"
               onclick="window.location='@Url.Action("SignUpPage", "Home")'" />
    </div>
     <p style="color:red">
        @ViewBag.prompt
    </p>
</div>